<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-4 video" (click)="showModal = true">
                <img src="assets/icons/play.svg" alt="">
            </div>
            <div class="col-md-8 about-us-text">
                <div class="title">
                    {{aboutUs?.title}}
                </div>
                <div class="text">
                    {{aboutUs?.text}}
                </div>
            </div>
        </div>
    </div>
    <div class="about-us-modal" *ngIf="showModal">
        <div class="close" (click)="showModal = false">
            <img src="assets/icons/close-icon.svg" alt="">
        </div>
       <div class="modal-video">
           <iframe id="ytplayer" type="text/html" width="640" height="360"
                   src="https://www.youtube.com/embed/rJkNstUF3GA"
                   frameborder="0"></iframe>
       </div>
    </div>
</div>
