<div class="contact-info-wrapper">
    <div class="contact-info row">
        <div class="col-md-8">
            <div class="title">
                contact form
            </div>
            <div class="contact-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <div class="contact-input">
                <input type="text" placeholder="Name">
            </div>
            <div class="contact-input">
                <input type="text" placeholder="Email Address">
            </div>
            <div class="contact-input">
                <input type="text" placeholder="Subject">
            </div>
            <div class="contact-input">
                <textarea name="" id=""  rows="10" style="width: 80%"></textarea>
            </div>
            <div class="contact-button">
                Send message
            </div>
        </div>
        <div class="col-md-4">
            <div class="title">
                Contact info
            </div>
            <div class="contact-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <div class="contact-email contact-text">
                <div>
                    <strong>email: </strong>
                    <span class="email"> info@display.com </span>
                </div>
                <div>
                    <strong>phone: </strong>
                    <span> 1.234.5678 </span>
                </div>
            </div>
            <div class="contact-address contact-text">
                <div>
                    222 2nd Ave South
                </div>
                <div>
                    Saskabush SK SM7M
                </div>
            </div>
            <div class="title">
                Store hours
            </div>
            <div class="store-hours">
                <div>Monday - Tuesday</div>
                <div>8 am - 5pm</div>
            </div>
            <div class="store-hours">
                <div>Friday </div>
                <div>8 am - 6pm</div>
            </div>
            <div class="store-hours">
                <div>Saturday </div>
                <div>9 am - 5pm</div>
            </div>
            <div class="store-hours">
                <div>Sunday & Holidays</div>
                <div>Closed </div>
            </div>
        </div>
    </div>
</div>
