<div class="header">
    <div class="header-info">
        <div class="logo">Display</div>
        <div class="social-networks"></div>
    </div>
    <div class="divider"></div>
    <div class="header-nav">
        <div class="header-nav-item" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" >
            Home
        </div>
        <div class="header-nav-item" routerLink="/about" routerLinkActive="active-link">
            About
        </div>
        <div class="header-nav-item" routerLink="/work" routerLinkActive="active-link">
            Work
        </div>
        <div class="header-nav-item"  routerLink="/contact" routerLinkActive="active-link">
            Contact
        </div>
    </div>
</div>
