<div class="about-content-wrapper">
    <div class="about-content">
        <div class="row">
            <div class="col-md-4 about-picture">
                <img src="assets/images/about-picture.jpg" alt="">
            </div>
            <div class="col-md-8 about-content-text"> {{aboutContent?.content}} </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-6 mission-statement">
                <div class="title">Mission statement</div>
                <div class="text">
                    {{aboutContent?.missionStatement}}
                </div>
            </div>
            <div class="col-md-6 fan-facts">
                <div class="title">fun facts</div>
                <div class="text">
                    {{aboutContent?.fanFacts}}
                </div>
            </div>
        </div>
    </div>
</div>
