.app-footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
    flex-shrink: 0;
}
.app-header{
    margin-top: 25px;
}
.page {
    padding-top: 30px;
    flex-grow: 1;
}
.page-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 0;
}
.page-header {
    flex-shrink: 0;
}
